[submodule "search-manager"]
	path = search-manager
	url = https://github.com/SeezoCode/search-manager
[submodule "front-end"]
	path = front-end
	url = https://github.com/STOKYS/search-engine_front-end
[submodule "crawler"]
	path = crawler
	url = https://github.com/SeezoCode/search-engine-crawler
[submodule "suggester"]
	path = suggester
	url = https://github.com/Exanys/SearchEngineBackend
